@model PurchaseManagementSystem.Models.Purchase

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Purchase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="pur_id" />
            <div class="form-group">
                <label asp-for="pur_item" class="control-label"></label>
                <input asp-for="pur_item" class="form-control" />
                <span asp-validation-for="pur_item" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pur_qnty" class="control-label"></label>
                <input asp-for="pur_qnty" class="form-control" />
                <span asp-validation-for="pur_qnty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pur_date" class="control-label"></label>
                <input asp-for="pur_date" class="form-control" />
                <span asp-validation-for="pur_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pur_price" class="control-label"></label>
                <input asp-for="pur_price" class="form-control" />
                <span asp-validation-for="pur_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendor" class="control-label"></label>
                <input asp-for="vendor" class="form-control" />
                <span asp-validation-for="vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
